@model CarrinhoCompraViewModel;

@if (Model.CarrinhoAddCompra.carrinhoCompras.Count > 0)
{
    <button class="btn btn-outline-dark" type="submit">
        <i class="bi-cart-fill me-1"></i>
        <a asp-controller="CarrinhoCompra" asp-action="Index">
            <span><img src="~/images/cart-5-16.ico" /></span>
            <span class="badge bg-dark text-white ms-1 rounded-pill">@Model.CarrinhoAddCompra.carrinhoCompras.Count</span>
        </a>
    </button>
}