<style>
    /* Estilizando o botão dropdown */
    .dropdown-toggle {
        border-top-left-radius: 30px; /* Borda arredondada no lado esquerdo superior */
        border-bottom-left-radius: 30px; /* Borda arredondada no lado esquerdo inferior */
        border-top-right-radius: 0; /* Borda direita reta */
        border-bottom-right-radius: 0; /* Borda direita reta */
    }

    /* Removendo o arredondamento do menu dropdown */
    .dropdown-menu {
        border-radius: 0;
    }
</style>

<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Categorias
    </a>

    <ul class="dropdown-menu">
        @foreach (var categoria in Model)
        {
            <li>
                <a class="dropdown-item" asp-controller="Produtos" asp-action="List" style="color:black"
                   asp-route-categoria="@categoria.Nome">@categoria.Nome</a>
            </li>
        }
        <li class="dropdown-divider"></li>
        <li>
            <a class="dropdown-item" asp-controller="Produtos" asp-action="List" asp-route-categoria=""
               style="color:black">Todos os Produtos</a>
        </li>
    </ul>
</div>
