@model string

<br />
<div class="alert alert-primary" role="alert">
    <div class="text-center">
        <h3>Criar Role</h3>
    </div>
</div>

<a asp-action="Index" class="btn btn-secondary mb-3">
    <i class="fa-solid fa-circle-left"></i> Retornar à lista
</a>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="name">Nome:</label>
        <input name="name" class="form-control" id="name" />
    </div>

    <button type="submit" class="btn btn-primary mt-2">
        <i class="fa-solid fa-plus"></i> Criar
    </button>
</form>
