@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav-item">
        <form method="post" asp-area="" asp-controller="account" asp-action="logout">
            <button type="submit" style="width:auto" class="nav-link btn btn-link text-dark py-0">
                <i class="fa-solid fa-right-from-bracket"></i> Logout
            </button>
        </form>
    </ul>
}
