@model HomeViewModel

<partial name="_Carousel" />
<br />
<div class="text-center">
    <h3>
        ofertas imperdíveis
    </h3>   
</div>
<div class="row">
    @foreach(var produto in Model.ProdutoSelecionados)
    {
        <partial name="_ProdutosResumo" for="@produto"/>
    }

</div>