<title>
    @ViewData["Title"] - Gráfico de Vendas
</title>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div id="chart_div" style="width: 900px; height: 500px;"></div>

<script type="text/javascript">
    google.charts.load('current', { packages: ['corechart'] });
    google.charts.setOnLoadCallback(CarregaDados);

    // Função para carregar os dados via AJAX
    function CarregaDados() {
        $.ajax({
            url: '@Url.Action("VendasProdutos", "AdminGrafico")',
            data: { dias: 7 },
            dataType: "json",
            type: "GET",
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function (data) {
                GraficoVendasLanches(data);
                return false;
            }
        });
        return false;
    }

    // Função para montar o gráfico de barras
    function GraficoVendasLanches(data) {
        var dataArray = [
            ['Produtos', 'Quantidade']
        ];

        $.each(data, function (i, item) {
            // Garantir que a quantidade seja numérica
            var quantidade = item.produtoQuantidade ? Number(item.produtoQuantidade) : 0;

            // Adicionar os dados no array
            dataArray.push([item.lancheNome, quantidade]);
        });

        // Converter o array para DataTable do Google Charts
        var dataTable = google.visualization.arrayToDataTable(dataArray);

        // Configurações do gráfico
        var options = {
            title: 'Quantidade de Produtos Vendidos nos Últimos 7 Dias',
            chartArea: {
                width: '70%'
            },
            colors: ['#5202b5'], // Cor da barra
            hAxis: {
                title: 'Quantidade'
              
            },
            vAxis: {
                title: 'Produtos'
            },
            animation: {
                duration: 1500,
                easing: 'inAndOut',
                startup: true
            }
        };

        // Desenha o gráfico de barras
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(dataTable, options);
    }
</script>
